body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightcoral;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

ul li a:hover,
.login a:hover {
    text-decoration: underline;
}

.login a {
    display: block;
    padding: 10px 32px;
    background-color: lightcoral;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.active,
.login a.active {
    text-decoration: underline;
}

.login-container {
    background: #fff;
    padding: 30px;
    margin-top: 100px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-login,
.manual-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
}

.github {
    background-color: #4c6ef5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.google {
    background-color: coral;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.manual-login input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.divider span {
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid gray;
}

.bottom-links {
    display: flex;
    justify-content: space-between;
    background-color: #555;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
}

.bottom-links a:hover{
    text-decoration: underline;
}

.bottom-links a {
    color: white;
    text-decoration: none;
}

.github:hover{
    background-color: #6582f3;
}

.google:hover{
    background-color: rgb(255, 163, 129);
}

.login-btn:hover{
    background-color: #62a764;
}